@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: #1c1b1b;
  }

  body {
    background-color: #fcf9f8;
    color: #1c1b1b;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

@layer components {

  /* Componentes reutilizables agrupando utilidades */
  .bento-card {
    @apply border-2 border-[#1c1b1b] rounded-3xl bg-white;
  }

  .input-heavy {
    @apply border-2 border-[#1c1b1b] transition-all duration-200 focus:border-[#630ed4] focus:outline-none focus:ring-2 focus:ring-[#a4f7ca]/50;
  }
}

@layer utilities {

  /* Estilos utilitarios directos */
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  }

  .text-balance {
    text-wrap: balance;
  }

  .hard-shadow {
    box-shadow: 4px 4px 0px 0px #1c1b1b;
  }

  .hard-shadow-btn {
    box-shadow: 4px 4px 0px 0px #1c1b1b;
    @apply transition-all duration-100 active:translate-x-[2px] active:translate-y-[2px];
  }
}

.tituloTask:hover {
  text-decoration: underline;
}